/* Write your CSS here */
.not-found-route-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}
.not-found-heading{
    color: #ffffff;
    font-size: 32px;
    font-family: 'bree serif';
}